Project 1/Report/report.aux
Project 1/Report/report.fdb_latexmk
Project 1/Report/report.log
Project 1/Report/report.synctex.gz
Project 2/Report - part1/report-project2-part1.fdb_latexmk
Project 2/Report - part1/report-project2-part1.log
Project 2/Report - part1/report-project2-part1.synctex.gz
Project 2/Part1/Report - part1/report-project2-part1.fdb_latexmk
Project 2/Part1/Report - part1/report-project2-part1.log
Project 2/Part1/Report - part1/report-project2-part1.synctex.gz
Project 2/Part2/Report/report-project2-part2.aux
Project 2/Part2/Report/report-project2-part2.fdb_latexmk
Project 2/Part2/Report/report-project2-part2.log
Project 2/lab/report.aux
Project 2/lab/report.fdb_latexmk
Project 2/lab/report.fls
Project 2/lab/report.log
Project 2/lab/report.synctex.gz
