body
{
	background-color: rgb(236,236,236);
	text-align: center;
	font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
}

p
{
	text-align: left;
}

#tree
{
	text-align: left;
	margin-left: 30%;
}

h2
{
	text-align: center;
	margin-top: 3%;
}


input[type="submit"] 
{
    background-color: rgb(236,236,236);
    color: rgba(0,0,0,0.2);
    border: 1px rgba(0,0,0,0.2) solid;
    width: 100px; /* width of image */
    height: 20px; /* height of image */
}

input[type="submit"]:hover 
{
    background-color: rgb(236,236,236);
    color: rgba(0,0,0,0.5);
    border: 1px rgba(0,0,0,0.5) solid;
}

#agents .clicked
{
	color: #589458;
	background-color: #DADBDA;
}


#agents 
{
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	border: 1px rgba(0,0,0,0.2) solid;
}

#agents table
{
	border-collapse: collapse;
	border-c
}

#agents tr:hover td
{
	color: #589458; /* green */
	background-color: #DADBDA; /* darker-greener gray */
}

#agents tr td
{
	width: 15%;
	text-align: center;
	color: #7F7F7F;

	padding: 4px;
}

#agents tr td:nth-child(2)
{
	width: 7%;
}

#agents tr td:nth-child(3)
{
	width: 7%;
}

#agents tr td:last-child
{
	width: 20%;
}

